# Ignore files starting with dot but include this file (self) 
.*
!/.gitignore

# Ignore ".bak" files
*.bak

# Include README.md 
!README.md

# Ignore bower_components and angular plugins folders
# These we upgrade via git pull to their repository
/app/bower_components/*
/app/scripts/plugins/*

# Ignore Files
/files/*

# Ignore any php scripts in this dir
*.php

# Now drive on all the way to include just some subfolders, "_custom" modules
!/modules
/modules/*
!/modules/_custom/

# Themes folder
!/themes
/themes/*
!/themes/storyteller/
